{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Export{% endblock %}

{% block body %}
    <h1>Export</h1>
    <form action="{{ path('run-export') }}" method="post">

        <table class="table table-condensed table-hover">

            <thead>
            <tr>
                <th>Export</th>
                <th>Name</th>
                <th>Lat/Lon</th>
                <th>Category</th>
                <th>Link</th>
            </tr>
            </thead>

            <tbody>
            {% for waypoint in waypoints %}
                <tr>
                    <td>
                        <input type="checkbox" name="points[]" value="{{ waypoint.id }}"/>
                    </td>
                    <td>{{ waypoint.name }}</td>
                    <td>
                        {{ waypoint.lat }}
                        {{ waypoint.lon }}
                    </td>
                    <td>{{ waypoint.category.name }}</td>
                    <td><a href="https://www.ingress.com/intel?pll={{ waypoint.lat }},{{ waypoint.lon }}">Intel</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
        <button type="submit" class="btn btn-success">Export</button>
    </form>
{% endblock %}
