{% extends 'base.html.twig' %}

{% import '_paginator-elements.html.twig' as paginator %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('build/paginator.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/export.js') }}"></script>
{% endblock %}

{% block title %}{{ parent() }} - Export{% endblock %}

{% block body %}
    <h1>Export</h1>

    <form method="post">

        <div class="row">
            Found {{ waypoints_cnt }} waypoints. Show&nbsp;
            <div class="col-xs-2">{{ paginator.listLimit(paginatorOptions) }}</div>
            <div class="col-xs-10">{{ paginator.pagination(paginatorOptions) }}</div>
        </div>

        <table class="table table-condensed table-hover">

            <thead>
            <tr>
                <th>Province</th>
                <th>City</th>
                <th>Name</th>
                <th>Link</th>
                <th>Export</th>
            </tr>
            <tr>
                <th{{ paginatorOptions.searchCriteria('province') ? ' class="cell-active"' : '' }}>
                    <select name="paginatorOptions[criteria][province]" class="form-control paginatorResetChange">
                        <option value="0">...</option>
                        {% for province in provinces %}
                            <option value="{{ province.id }}"
                                    {{ paginatorOptions.searchCriteria('province') == province.id ? ' selected="selected"' : '' }}>
                                {{ province.name }}
                            </option>
                        {% endfor %}
                    </select>
                </th>
                <th{{ paginatorOptions.searchCriteria('city') ? ' class="cell-active"' : '' }}>
                    <br/>
                    {{ paginator.criteria('city', paginatorOptions) }}
                </th>
                <th></th>
                <th></th>
                <th>
                    <input type="checkbox" id="checkAll">
                </th>
            </tr>
            </thead>

            <tbody>
            {% for waypoint in waypoints %}
                <tr>
                    <td>{{ waypoint.province ? waypoint.province.name : 'n/a' }}</td>
                    <td>{{ waypoint.city }}</td>
                    <td>{{ waypoint.name }}</td>
                    <td>
                        {% if get_url('intel') %}
                            <a href="https://{{ get_url('intel') }}?pll={{ waypoint.lat }},{{ waypoint.lon }}">Intel</a>
                        {% else %}
                            no intel URL set
                        {% endif %}
                    </td>
                    <td>
                        <input type="checkbox" name="points[]" value="{{ waypoint.id }}"/>
                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>

        <button type="submit" class="btn btn-success">Export</button>

        {{ paginator.formFields(paginatorOptions) }}

    </form>

{% endblock %}
