{% extends 'base-map.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('background') }}
{% endblock %}

{% block body %}
    <div class="text-xl-center">

        <h1>
            <img src="{{ asset('favicon.ico') }}" alt="FroX!">
            <span class="frox-title">FroX!</span>
            <img src="{{ asset('favicon.ico') }}" alt="FroX!">
        </h1>

        <h4>
            <span class="frox-title">
            {{ 'We have %d WayPoints in our database.'|format(numWayPoints) }}
            </span>
        </h4>

    </div>
{% endblock %}
