{% extends 'base-map.html.twig' %}

{% block title %}{{ parent() }} - Map{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/map.css') }}">
{% endblock %}

{% block body %}
    <div id="result">
        <button id="drawSelection">Draw Selection</button>
        <span id="result_message">0</span> {{ _('waypoints selected') }}&nbsp;
        <button id="result_maxFields" class="btn btn-default btn-sm">MaxFields</button>
        <button id="result_Gpx" class="btn btn-default btn-sm">Gpx</button>
        {{ _('Create MaxFields for') }} <input type="text" id="players_num" class="col-1"> {{ _('players') }}
        <input type="text" id="build_name" placeholder="{{ _('name') }}">
        <button id="build" class="btn btn-default btn-sm">{{ _('Create') }}</button>
    </div>

    <div id="map"></div>

    <!-- Modal -->
    <div class="modal fade" id="resultModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">MaxFields</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <textarea class="modal-body" rows="15" cols="150"></textarea>
            </div>
        </div>
    </div>

    <script src="{{ asset('build/map.js') }}"></script>

{% endblock %}
