{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Import{% endblock %}

{% block body %}
    <h1>Import</h1>

    {{ form_start(form) }}

    {{ form_errors(form) }}

    {{ form_row(form.province) }}
    {{ form_row(form.city) }}
    {{ form_row(form.gpxRaw) }}
    {{ form_row(form.intelLink) }}

    <button type="submit" class="btn btn-primary">Import</button>

    {{ form_end(form) }}
{% endblock %}
