<h1>{{ collection.name }}</h1>

{% for category, catPoints in categories %}
<div class="row">
    <h3>{{ category }}</h3>
    {% for point in catPoints %}
        {# {% if point.category and categoryName != point.category.name %} #}
        {# {% set categoryName = point.category.name %} #}
        {# {% endif %} #}
        <div class="card" style="width: 9rem;">
            <img class="card-img-top"
                 src="{{ asset('wp_images/'~ point.guid ~ '.jpg') | imagine_filter('squared_thumbnail') }}"
                 alt="{{ point.name }}" title="{{ point.name }}" data-toggle="tooltip">
            <div>
                <a href="{{ point|intelLink }}">Intel</a>

                <a href="{{ path('waypoints_edit', { 'id': point.id }) }}">Edit</a>

            </div>

            {# <img src="{{ asset('wp_images/'~ point.guid ~ '.jpg') | imagine_filter('squared_thumbnail') }}" alt="Image"> #}

            {# <div class="card-body"> #}
            {# <h5 class="card-title">{{ point.name }}</h5> #}
            {# <p class="card-text"> #}
            {# {{ point.guid }} #}
            {# </p> #}
            {# <a href="#" class="btn btn-primary btn-sm">Go somewhere</a> #}
            {# </div> #}
            {# </div> #}
        </div>
    {% endfor %}
</div>
{% endfor %}
