<ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <a class="nav-link" href="{{ path('max_fields') }}">{{ _('MaxFields') }}</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">{{ _('Maps') }}</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="{{ path('map2') }}">{{ _('Portal edit') }}</a>
            <a class="dropdown-item" href="{{ path('map') }}">{{ _('MaxField planner') }}</a>
            <a class="dropdown-item" href="{{ path('map3') }}">{{ _('Agents') }}</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">Info</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="{{ path('cells') }}">Cells</a>
            <a class="dropdown-item" href="{{ path('provinces') }}">{{ _('Provinces') }}</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">Admin</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="{{ path('import') }}">Import</a>
            <a class="dropdown-item" href="{{ path('export') }}">Export</a>
            <a class="dropdown-item" href="{{ path('waypoints') }}">Waypoints</a>
            <a class="dropdown-item" href="{{ path('admin') }}">DB</a>
            <a class="dropdown-item" href="{{ path('backup') }}">Backup</a>
            <a class="dropdown-item" href="{{ path('agent_data') }}">Agent data json</a>
        </div>
    </li>
</ul>
