<ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">{{ 'Maps'|trans }}</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="{{ path('map2') }}">{{ 'Portal edit'|trans }}</a>
            <a class="dropdown-item" href="{{ path('map-maxfield') }}">{{ 'MaxField planner'|trans }}</a>
            <a class="dropdown-item" href="{{ path('map3') }}">{{ 'Agents'|trans }}</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('max_fields') }}">{{ 'MaxFields'|trans }}</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">Info</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="{{ path('cells') }}">Cells</a>
            <a class="dropdown-item" href="{{ path('provinces') }}">{{ 'Provinces'|trans }}</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">Admin</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="{{ path('import') }}">Import</a>
            <a class="dropdown-item" href="{{ path('export') }}">Export</a>
            <a class="dropdown-item" href="{{ path('waypoints') }}">Waypoints</a>
            <a class="dropdown-item" href="{{ path('waypoints2') }}">Waypoints2</a>
        </div>
    </li>
</ul>
