{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - MaxFields{% endblock %}

{% block body %}
    <h3>MaxFields</h3>
    <p>
        MaxfieldVersion: <code>{{ maxfieldVersion }}</code>
    </p>
    <ul>
        {% for item in list %}
            <li>
                <a href="{{ path('max_fields_gpx', {'item': item}) }}" class="btn btn-sm btn-success">
                    {{ 'Download GPX'|trans }}
                </a>
                <a href="{{ path('max_fields_delete', {'item': item}) }}" class="btn btn-sm btn-danger">
                    {{ 'Delete'|trans }}
                </a>
                <a href="{{ path('max_fields_result', {'item': item}) }}">
                    {{ item }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
