{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - MaxFields{% endblock %}

{% block body %}
    <h3>MaxFields</h3>
    <ul>
        {% for item in list %}
            <li>
                <a href="{{ path('max_fields_gpx', {'item': item}) }}" class="btn btn-sm btn-success">
                    {{ _('Generate GPX') }}
                </a>
                <a href="{{ path('max_fields_delete', {'item': item}) }}" class="btn btn-sm btn-danger">
                    {{ _('Delete') }}
                </a>
                <a href="{{ path('max_fields_result', {'item': item}) }}">
                    {{ item }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
