{% for agentInfo in info.agentsInfo %}
    {% if agentInfo.agentNumber == agent %}

        {#<h4>Keys for agent {{ agentInfo.agentNumber }}</h4>#}
        {#<table class="table table-condensed">#}
            {#{% for point in agentInfo.keys.wayPoints %}#}
                {#{% if point.agentNum + 1 == agentInfo.agentNumber %}#}
                    {#<tr>#}
                        {#<td>{{ point.mapNo }}</td>#}
                        {#<td>{{ point.name }}</td>#}
                        {#<td>{{ point.keysNeeded ?: '-' }}</td>#}
                    {#</tr>#}
                {#{% endif %}#}
            {#{% endfor %}#}
        {#</table>#}

        <h4>Links for agent {{ agentInfo.agentNumber }}</h4>
        <table style="width: 100%">
            {% set origin='' %}
            {% for link in agentInfo.links %}
                {% if link.originNum != origin %}
                    <tr>
                        <td colspan="3">
                            <hr>
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td>{{ link.isEarly ? 'X' : '' }}</td>
                    <td align="center">{{ link.linkNum }}</td>
                    <td>
                        {% if agentInfo.agentNumber != link.agentNum %}
                        <del>{% endif %}
                            {% if link.originNum != origin %}
                                <b>{{ link.originNum }} - {{ link.originName }}</b><br>
                            {% endif %}
                            {% set origin = link.originNum %}
                            L {{ link.destinationNum }} - {{ link.destinationName }}
                            {% if agentInfo.agentNumber != link.agentNum %}</del>{% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endfor %}

