{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - MaxFields Result{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('build/maxfields.js') }}"></script>
    <script>
        const maxFrames = {{ info.frames }}
        const item = '{{ item }}'
        const links = {{ info.links|json_encode|raw }}
    </script>
{% endblock %}

{% block body %}
    <h3>MaxFields for <span id="itemId">{{ item }}</span></h3>

    <div class="row">
        <div class="col">
            <button id="frameMinus">-</button>
            <button id="framePlus">+</button>
            <span id="frameNum">#</span>
            <div id="frameLinkInfo"></div>
        </div>
        <div class="col">
            <img id="displayFrames" src="/maxfields/{{ item }}/frame_-1.png" alt="Frames">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="/maxfields/{{ item }}/portalMap.png" alt="Portal Map">
        </div>
        <div class="col">
            <img src="/maxfields/{{ item }}/linkMap.png" alt="Link Map">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>Key Preparation</h4>
            <table>
                <tr>
                    <th>Map No</th>
                    <th>Keys</th>
                    <th>Name</th>
                </tr>
                {% for wayPoint in info.keyPrep.wayPoints %}
                    <tr>
                        <th>{{ wayPoint.mapNo }}</th>
                        <td>{{ wayPoint.keysNeeded }}</td>
                        <td>{{ wayPoint.name }}</td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col">
            <h4>Ownership Preparation</h4>
            <textarea class="agent-info" name="" id="" cols="80" rows="12">{{ info.ownershipPrep }}</textarea>
        </div>
    </div>

    {% for agentInfo in info.agentsInfo %}
        <div class="row">
            <div class="col">
                <h4>Key for agent {{ agentInfo.agentNumber }}</h4>
                <textarea class="agent-info" name="" id="" cols="80" rows="12">{{ agentInfo.keysInfo }}</textarea>
            </div>
            <div class="col">
                <h4>Links for agent {{ agentInfo.agentNumber }}</h4>
                <textarea class="agent-info" name="" id="" cols="80" rows="12">{{ agentInfo.linksInfo }}</textarea>
                <table class="table table-condensed">
                    {% set origin='' %}
                    {% for link in agentInfo.links %}
                        <tr style="border-bottom: 1px solid silver;{% if link.originNum != origin %}border-top: 2px solid darkblue;{% endif %}">
                            <td>{{ link.isEarly ? 'X' : '' }}</td>
                            <td>{{ link.linkNum }}</td>
                            <td>
                                {% if link.originNum != origin %}
                                    <b>{{ link.originNum }} - {{ link.originName }}</b><br>
                                {% endif %}
                                {% set origin = link.originNum %}
                                L {{ link.destinationNum }} - {{ link.destinationName }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col">
                Agent {{ agentInfo.agentNumber }} - Send e-mail to <input type="text">
                <button class="btn btn-default sendMail" id="{{ agentInfo.agentNumber }}">Send</button>
                <div id="result-{{ agentInfo.agentNumber }}"></div>
            </div>
        </div>

    {% endfor %}

{% endblock %}
